/*
 * Point of Sale interface software style sheet
 * Filename: mystyle.css
 * 
 * Created: October 11, 2019
 * Last Updated: October 11, 2019
 * Author: Colton Adkins and Travis Andre
 * Additional Javascript by Christian Caldwell
 */

body * {
    margin: 5px;
}

#container {
    width: 100%;
    margin: 0 auto;
    min-height: 20vw;
    min-width: 40vw;
    background-color: wheat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#logo {
    float: left;
    min-width: 150px;
    min-height: 150px;
    max-height: 150px;
    max-width: 150px;
    display: inline-block;
}

#logopic {
    background-image: cover;
    min-width: 150px;
    min-height: 150px;
    max-height: 150px;
    max-width: 150px;
    display: inline-block;
}

#header {
    font-family: 'Bungee Shade';
    color: red;
    font-size: 3.5em;
}

#total_box {

    min-width: 500px;
    min-height: 545px;
    border: 2px solid black;
    bottom: 0px;
    position: absolute;

}

#products {

    min-width: 900px;
    min-height: 545px;
    border: 2px solid black;
    bottom: 0px;
    position: absolute;
    right: 0px;
}

p {
    color: darkred;
    font-family: 'Cantarell', sans-serif;
    font-size: 1.1em;
}

#product-header {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    border-bottom: 2px solid black;
    font-size: 2em;
    margin: 0px;
}

.btn {
    background: #f45;
    border: black solid 1px;
    font-size: 1.2em;
    text-align: center;
    min-width: 280px;
    max-width: 280px;
}

#product-food {
    top: 70px;
    width: 100%;
    position: absolute;
    table-layout: fixed;
    text-align: center;
}

#product-drinks {
    top: 70px;
    width: 100%;
    position: absolute;
    table-layout: fixed;
    text-align: center;
}

#product-sides {
    top: 70px;
    width: 100%;
    position: absolute;
    table-layout: fixed;
    text-align: center;
}

.probtns {

    background: #f45;
    text-align: center;
    border: 1px solid black;
}

h1 {
    text-align: center;
    color: black;
}

h2 {
    top: 200px;
    position: absolute;
    text-align: center;
    font-family: 'Bungee Shade';
    color: red;
    font-size: 2.5em;
}

#total {
    position: absolute;
    bottom: 0px;
    border-top: 2px solid black;
    margin: 0px;
    width: 100%;
    min-height: 50px;
}

#logout {
    color: red;
    font-size: 1em;
    position: absolute;
    top: 0px;
    right: 0px;
}

#logout a {
    text-decoration: none;
    color: black;
}
